.nionTwo{
    position: relative;
}
.link2{
    position: absolute;
    left: 40px;
    top: -48px
}
.neon2{
    position: absolute;
    top: -40px;
    right: 160px;
}
@media only screen and (max-width: 600px)  {
    .nionTwo{
        position: relative;
    }
    .nionTwo .link2{
        position: absolute;
        left: 65px;
        top: -5px;
        width: 250px;
    }
    .nionTwo .neon2{
        position: absolute;
        width: 100px;
        top: -20px;
        right: 50px;
    }
    
}