.nionTwo{
    position: relative;
}
.link2{
    position: absolute;
    left: 40px;
    top: -48px
}
.neon2{
    position: absolute;
    top: -40px;
    right: 160px;
}
@media only screen and (max-width: 600px)  {
    .nionTwo{
        position: relative;
    }
    .nionTwo .link2{
        position: absolute;
        left: 0;
        top: -46px;
        width: 200px;
    }
    .nionTwo .neon2{
        position: absolute;
        top: -40px;
        right: 0;
    }
    
}