.niontree{
    position: relative;
}
.link3{
    position: absolute;
    left: 240px;
    top: -48px
}
.neon3{
    position: absolute;
    top: -40px;
    left: 150px;
}
@media only screen and (max-width: 600px)  {
    
    .niontree .link3{
        left: 100px;
        top: -34px;
        width: 300px;
    }
    .niontree .neon3{
        width: 100px;
        top: -40px;
        left: 50px;
    }
    
}